<div class="row split-cost--row">
  <div *ngIf="showProductsForm" class="card"
       [ngClass]="{'animated fadeOutLeft': !showProductsForm, 'animated fadeInRight': showProductsForm}">
    <div class="card-header">
      <b>{{'APP_LABELS.SPLIT_COST.TITLES.PRODUCTS' | transloco}}</b>
    </div>
    <div class="card-body card-body--crud">
      {{'APP_LABELS.SPLIT_COST.SUBTITLES.PRODUCTS' | transloco}}
      <app-split-cost-form
        (numberPersonEvent)="checkFormNumberPerson($event)"
        (tipEvent)="checkFormTip($event)"
        (totalListEvent)="checkFormCost($event)"
        (nextStep)="personFormEvent()"
      ></app-split-cost-form>
    </div>
  </div>

  <div *ngIf="showPersonForm" class="card"
       [ngClass]="{'animated fadeOutLeft': !showPersonForm, 'animated fadeInRight': showPersonForm}">
    <div class="card-header">
      <b>{{'APP_LABELS.SPLIT_COST.TITLES.PERSON' | transloco}}</b>
    </div>
    <div class="card-body card-body--crud">
      {{'APP_LABELS.SPLIT_COST.SUBTITLES.PERSON' | transloco}}
      <app-split-cost-person
        (personListEvent)="checkFormPerson($event)"
        [numberPerson]="numberPerson"
        (nextStep)="tableFormEvent()"
        (beforeStep)="productFormEvent()"
      ></app-split-cost-person>
    </div>
  </div>

  <div *ngIf="showTableForm" class="card"
       [ngClass]="{'animated fadeOutLeft': !showTableForm, 'animated fadeInRight': showTableForm}">
    <div class="card-header">
      <b>{{'APP_LABELS.SPLIT_COST.TITLES.LIST' | transloco}}</b>
    </div>
    <div class="card-body card-body--crud">
      {{'APP_LABELS.SPLIT_COST.SUBTITLES.LIST' | transloco}}
      <app-split-cost-table
      [tip]="tip"
      [personList]="personList"
      [costList]="costList"
      (beforeStep)="personFormEvent()"
      (reset)="productFormEvent()"
      ></app-split-cost-table>
    </div>
  </div>
</div>
