<form [formGroup]="this.ordersService.form" class="form-group form-orders">
  <input placeholder="{{'APP_LABELS.CRUD.FORM.NUMBER_PLACEHOLDER' | transloco}}" formControlName="orderNumber" type="number" class="form-control">
  <input placeholder="{{'APP_LABELS.CRUD.FORM.NAME_PLACEHOLDER' | transloco}}" formControlName="customerName" type="text" class="form-control">

  <div class="button-list">
    <button class="btn btn-info button-list--button" *ngFor="let coffee of coffees" (click)="addCoffee(coffee)">
      {{coffee}}
    </button>
  </div>

  <ul class="list-group order-list">
    <li class="list-group-item" *ngFor="let coffee of coffeeOrder">
      <span class=""> {{ coffee }} </span>
      <a class="" (click)="removeCoffee(coffee)">
        <img src="assets/icons/delete.svg" width="25" height="25" alt="X" class="cursor-pointer">
      </a>
    </li>
  </ul>
</form>

<form [formGroup]="this.ordersService.form">
  <button
    [disabled]="coffeeOrder.length === 0"
    class="btn btn-success col-6"
    (click)="onSubmit()">
    {{'APP_LABELS.CRUD.FORM.BUTTON' | transloco}}
  </button>
</form>
