<div class="row">
  <div class="col-md-2"></div>
  <div class="recharges-in-process col-md-8">
    <app-stepper
      [totalSteps]="totalSteps"
      [currentStep]="currentStep"
      [nameStep]="nameStep"
    ></app-stepper>

    <div class="in-process-body">
      <h4>{{'APP_LABELS.RECHARGES.IN_PROCESS.TITLE' | transloco}}</h4>
      <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
      </div>

    </div>

  </div>
  <div class="col-md-2"></div>

</div>
