<app-spinner *ngIf="isLoading else showTable"></app-spinner>

<ng-template #showTable>
  <table class="table table-striped table-responsive">
    <thead class="thead-dark">
    <tr>
      <th>{{'APP_LABELS.CRUD.TABLE.TITLES.NUMBER' | transloco}}</th>
      <th>{{'APP_LABELS.CRUD.TABLE.TITLES.NAME' | transloco}}</th>
      <th>{{'APP_LABELS.CRUD.TABLE.TITLES.ORDER' | transloco}}</th>
      <th>{{'APP_LABELS.CRUD.TABLE.TITLES.ACTION' | transloco}}</th>
      <th>{{'APP_LABELS.CRUD.TABLE.TITLES.STATE' | transloco}}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let order of coffeeOrders">
      <td>{{ order.payload.doc.data().orderNumber }}</td>
      <td>{{ order.payload.doc.data().customerName }}</td>
      <td><span
        *ngFor="let coffee of order.payload.doc.data().coffeeOrder">
       {{ coffee }}
      </span>
      </td>
      <td>
        <div *ngIf="!order.payload.doc.data().completed">
          <a class="cursor-pointer" (click)="markCompleted(order)">
            {{'APP_LABELS.CRUD.TABLE.ACTIONS.COMPLETE' | transloco}}
            <img src="assets/icons/check-circle.svg" width="25" height="25" alt="X">
          </a>
          <a class="cursor-pointer" (click)="deleteOrder(order)">
            {{'APP_LABELS.CRUD.TABLE.ACTIONS.REMOVE' | transloco}}
            <img src="assets/icons/delete.svg" width="25" height="25" alt="X">
          </a>
        </div>
      </td>
      <td>
        <div *ngIf="!order.payload.doc.data().completed else completeState">
          {{'APP_LABELS.CRUD.TABLE.STATES.PENDING' | transloco}}
        </div>
        <ng-template #completeState>
          {{'APP_LABELS.CRUD.TABLE.STATES.COMPLETE' | transloco}}
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>
