<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th></th>
      <th *ngFor="let cost of costList" [attr.colspan]="cost.quantity">
        {{cost.productName}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let person of personList; let i = index">
      <td>
        {{person.person}}
      </td>
      <ng-container *ngFor="let individualCost of costList; let j = index">
        <td *ngFor="let numberOfCost of [].constructor(individualCost.quantity); let k = index"
            (click)="selectedCell(individualCost, person,i,j,k)"
            class="back{{i}}{{j}}{{k}} cursor-pointer">
        </td>
      </ng-container>
    </tr>
    <tr>
      <td [attr.colspan]="totalAttempts">
        Total: {{total}}
        <img *ngIf="enableAttempts !== 0" src="assets/icons/alert-circle.svg"
             width="25" height="25" alt="X" class="cursor-pointer alert-top">
        <img *ngIf="enableAttempts === 0" src="assets/icons/check-circle.svg"
             width="25" height="25" alt="X" class="cursor-pointer alert-top">
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
    <tr *ngFor="let couple of couplesList" class="table-secondary">
      <td *ngFor="let totalCost of couple">
        {{totalCost.person.person}} debe: {{totalCost.total | currency}}
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="split-cost--input">
  <button (click)="goToBeforeStep()" type="button"
          class="btn btn-primary split-cost--button-margin-right">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.BEFORE' | transloco}}</button>
  <button (click)="goToNextStep()" type="button" class="btn btn-primary">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.RESET' | transloco}}</button>
</div>
