<div class="table-responsive">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>{{'APP_LABELS.SPLIT_COST.FORM.QUANTITY' | transloco}}</th>
      <th>{{'APP_LABELS.SPLIT_COST.FORM.PRODUCT_NAME' | transloco}}</th>
      <th>{{'APP_LABELS.SPLIT_COST.FORM.COST' | transloco}}</th>
      <th>{{'APP_LABELS.SPLIT_COST.FORM.REMOVE' | transloco}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of numberRows; let i = index">
      <td><input class="form-control" placeholder="{{'APP_LABELS.SPLIT_COST.FORM.QUANTITY' | transloco}}" type="number" (keyup)="calculateTotal()"
                 [(ngModel)]="row.quantity"></td>
      <td><input class="form-control" placeholder="{{'APP_LABELS.SPLIT_COST.FORM.PRODUCT_NAME' | transloco}}" type="text"
                 [(ngModel)]="row.productName"></td>
      <td><input class="form-control" placeholder="{{'APP_LABELS.SPLIT_COST.FORM.COST' | transloco}}" type="number" (keyup)="calculateTotal()"
                 [(ngModel)]="row.cost"></td>
      <td>
        <a *ngIf="numberRows.length !== 1" class="cursor-pointer" (click)="removeRow(i)"><img
          src="assets/icons/delete.svg" width="25" height="25" alt="X"></a>
      </td>
    </tr>
    <tr>
      <td><input class="form-control" type="number" placeholder="{{'APP_LABELS.SPLIT_COST.FORM.TOTAL_PEOPLE' | transloco}}"
                 [(ngModel)]="numberPerson"></td>
      <td><input class="form-control" type="number" placeholder="{{'APP_LABELS.SPLIT_COST.FORM.TIP' | transloco}}" (keyup)="calculateTotal()"
                 [(ngModel)]="tip"></td>
      <td colspan="2">Total: {{total | currency}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="split-cost--input">
  <button type="button" class="btn btn-success split-cost--button-margin-right"
          (click)="addRow()">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.ADD_ROW' | transloco}}</button>
  <button [disabled]="!validateForm()" type="button" class="btn btn-primary"
          (click)="goToNextStep()">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.NEXT' | transloco}}</button>
</div>
