 <div class="row">
   <div class="card">
     <div class="card-header">
       <b>{{'APP_LABELS.CRUD.TITLES.FORM' | transloco}}</b>
     </div>
     <div class="card-body card-body--crud">
       <app-orders ></app-orders>
     </div>
   </div>

   <div class="card">
     <div class="card-header">
       <b>{{'APP_LABELS.CRUD.TITLES.LIST' | transloco}}</b>
     </div>
     <div class="card-body">
       <app-order-list></app-order-list>
     </div>
   </div>
  </div>

