<div class="profile">
  <section class="header-profile">
    <div class="profile-information profile-image">
      <img src="assets/images/homer1.jpg" alt="">
    </div>
    <div class="profile-information name">
      <p>
        homersimp
        <button type="button" class="btn btn-outline-secondary edit-profile">Edit Profile</button>
      </p>
    </div>
    <div class="profile-information post-number">
      <p><strong>99</strong> posts</p>
    </div>
    <div class="profile-information followers">
      <p><strong>99</strong> followers</p>
    </div>
    <div class="profile-information following">
      <p><strong>99</strong> following</p>
    </div>
    <div class="profile-information biography">
      Homer J. Simpson
      <span>
      🍩
    </span>
      <span>
      Stupid Flanders!
    </span>
    </div>
  </section>


  <section class="post-list">
    <ng-container *ngFor="let item of [].constructor(totalRows)">
      <a class="post">
        <figure class="post-image">
          <img src="assets/images/homer1.jpg" alt="">
        </figure>
        <span class="post-overlay">
        <p>
          <span class="post-likes">
            <img src="assets/icons/heart.svg" width="25" height="25" alt="X">
            150
          </span>
          <span class="post-comments">
            <img src="assets/icons/message-circle.svg" width="25" height="25" alt="X">
            10
          </span>
        </p>
      </span>
      </a>

      <a class="post">
        <figure class="post-image">
          <img src="assets/images/homer2.jpeg" alt="">
        </figure>
        <span class="post-overlay">
        <p>
          <span class="post-likes">
            <img src="assets/icons/heart.svg" width="25" height="25" alt="X">
            150
          </span>
          <span class="post-comments">
            <img src="assets/icons/message-circle.svg" width="25" height="25" alt="X">
            10
          </span>
        </p>
      </span>
      </a>

      <a class="post">
        <figure class="post-image">
          <img src="assets/images/homer3.jpg" alt="">
        </figure>
        <span class="post-overlay">
        <p>
          <span class="post-likes">
            <img src="assets/icons/heart.svg" width="25" height="25" alt="X">
            150
          </span>
          <span class="post-comments">
            <img src="assets/icons/message-circle.svg" width="25" height="25" alt="X">
            10
          </span>
        </p>
      </span>
      </a>
    </ng-container>

  </section>
</div>

<div *ngIf="isLoading" class="spinner">
  <div class="spinner-grow" style="width: 3rem; height: 3rem;" role="status"></div>
</div>


