$font-family-pred: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.profile {
  padding: 30px 0;
}

.header-profile {
  justify-content: center;
  display: grid;
  grid-template: repeat(5, minmax(20px, 40px)) / repeat(5, minmax(100px, 187px));
}

.profile-information {
  min-height: 20px;
}

.profile-image {
  grid-row: 1/-1;
  justify-self: center;

  img {
    border-radius: 50%;
    max-width: 150px;
    max-height:150px;
    width: auto;
    height: auto;
  }
}

.name {
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  color: #262626;
  font-family: $font-family-pred;
}

.edit-profile {
  height: 30px;
  margin-left: 20px;
  width: 94px;
  border: 1px solid #dbdbdb;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  color: #262626;
  font-family: $font-family-pred;
  padding: 5px 9px;
}

.post-number,
.following,
.followers,
.biography {
  font-family: $font-family-pred;
  font-size: 16px;
}

.biography{
  grid-row: 3/-1;
  font-weight: 600;
  line-height: 24px;
  span {
    display: block;
    font-weight: 400;
  }
}

.name,
.biography{
  grid-column: 2/-1;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 293px));
  grid-gap: 28px;
  justify-content: center;
  padding-top: 5px;
}

.post {
  cursor: pointer;
  position: relative;
  display: block;
}

.post-image {
  margin: 0;

  img {
    width: 100%;
    vertical-align: top;
  }
}

.post-overlay {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.post:hover .post-overlay {
  display: flex;
}

.post-likes,
.post-comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

@media screen and (max-width: 991px){
  .profile-image {
    img {
      width: 100px;
      height: 100px;
    }
  }
}

@media screen and (max-width: 768px){
  .post-list {
    grid-gap: 5px;
  }

  .header-profile {
    grid-template: repeat(4, minmax(20px, 40px)) 61px / repeat(5, 1fr);
    border-bottom: 1px rgb(219, 219, 219) solid;
  }

  .profile-image {
    grid-row: 1/3;
    justify-self: left;

    img {
      width: 75px;
      height: 75px;
    }
  }

  .post-number,
  .followers,
  .following {
    font-size: 14px;
    grid-row: 5/6;
    justify-self: center;
    text-align: center;
    color: #8E8E8E;
    padding: 12px 0;
    height: 61px;
    strong {
      color: black;
      display: block;
    }
  }

  .post-number {
    grid-column: 1/3;
  }

  .followers {
    grid-column: 3/4;
  }

  .following{
    grid-column: 4/6;
  }

  .biography{
    grid-column: 1/-1;
    grid-row: 3/5;
    border-bottom: 1px rgb(219, 219, 219) solid;
  }

  .name {
    grid-row: 1/3;
  }
}

.spinner {
  display: grid;
  justify-content: center;
  padding-bottom: 30px;
}
