<section class="dashboard-apps">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body card-body-apps">
          <button type="button" class="btn btn-outline-secondary button-apps" (click)="redirectTo('instagram')">
            <img src="assets/icons/instagram.png" width="25" height="25" alt="X">
            Instagram
          </button>
          <button type="button" class="btn btn-outline-secondary button-apps" [disabled]="true" (click)="redirectTo('pinterest')">
            <img src="assets/icons/pinterest.png" width="25" height="25" alt="X">
            Pinterest
          </button>
          <button type="button" class="btn btn-outline-secondary button-apps" [disabled]="true" (click)="redirectTo('twitter')">
            <img src="assets/icons/twitter.png" width="25" height="25" alt="X">
            Twitter
          </button>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</section>
