<div class="row">
  <div class="col-md-2"></div>
  <div class="recharges-method col-md-8">
    <app-stepper
      [totalSteps]="totalSteps"
      [currentStep]="currentStep"
      [nameStep]="nameStep"
    ></app-stepper>

    <div class="method-body">
      <h4>{{'APP_LABELS.RECHARGES.METHOD.TITLE' | transloco}}</h4>

      <div class="input-group method-body-">
        <input
          type="text"
          class="form-control"
          placeholder="{{placeholder | transloco}}"
          (keyup)="validateCreditCard($event.target.value)"
          [value]="creditCardNumber"
          creditCard
        >
      </div>
    </div>

    <div class="buttons-navigation">
      <button type="button" (click)="goToBeforeStep()" class="btn btn-md btn-dark"> <</button>
      <button type="button" (click)="goToNextStep()" class="btn btn-md btn-dark" [disabled]="!isValid">{{'APP_LABELS.RECHARGES.BUTTONS.CONTINUE' | transloco}}</button>
    </div>
  </div>
  <div class="col-md-2"></div>

</div>
