<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand cursor-pointer" (click)="navigateTo(URLS.MAIN)">
    <img src="assets/icons/stormtrooper.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Davidyero
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="navigateTo(URLS.CRUD)">{{'APP_LABELS.DASHBOARD.CARDS.CRUD.TITLE' | transloco}}</a>
      </li>
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="navigateTo(URLS.SPLIT_COST)">{{'APP_LABELS.DASHBOARD.CARDS.SPLIT_COST.TITLE' | transloco}}</a>
      </li>
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="loginValidate(URLS.RECHARGES + '/' + URLS.RECHARGES_FLOW.RECHARGE_TYPE)">{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TITLE' | transloco}}</a>
      </li>
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="navigateTo(URLS.FAKE_APPS_FLOW.MAIN + '/' + URLS.FAKE_APPS_FLOW.DASHBOARD)">{{'APP_LABELS.DASHBOARD.CARDS.FAKE_APPS.TITLE' | transloco}}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'LANGUAGES.LANG' | transloco}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngFor="let lang of languages" class="dropdown-item cursor-pointer" (click)="updateLocale(lang.value)">{{lang.flag}}{{lang.label | transloco}}</a>
        </div>
      </li>
    </ul>
  </div>


  <form class="form-inline">
    <button
      *ngIf="!hasRegistered()"
      (click)="login()"
      class="btn btn-outline-success my-2 my-sm-0"
      type="button">
      {{'APP_LABELS.AUTHORIZATION.LOGIN.BUTTONS.LOGIN' | transloco}}
    </button>
    <button
      *ngIf="hasRegistered()"
      (click)="logout()"
      class="btn btn-outline-danger my-2 my-sm-0"
      type="button">
      {{'APP_LABELS.AUTHORIZATION.LOGOUT.BUTTONS.LOGOUT' | transloco}}
    </button>
  </form>
</nav>
