.recharges-amount {
  .amount-body {
    margin-top: 20px;

    &--input {
      margin-top: 20px;
    }
  }
}

.buttons-navigation {
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
}
