<div class="row">
  <div class="col-md-2"></div>
  <div class="recharges-amount col-md-8">
    <app-stepper
      [totalSteps]="totalSteps"
      [currentStep]="currentStep"
      [nameStep]="nameStep"
    ></app-stepper>

    <div class="amount-body">
      <h4>{{'APP_LABELS.RECHARGES.AMOUNT.TITLE' | transloco}}</h4>

      <div class="input-group">
        <input
          type="number"
          class="form-control"
          [ngClass]="{'is-invalid': amountForm.invalid, 'is-valid': amountForm.valid && isValid}"
          placeholder="{{placeholder | transloco}}"
          [formControl]="amountForm"
          (keyup)="setAmount($event.target.value)">
      </div>
      <label [ngClass]="{'text-danger': amountForm.invalid, 'text-success': !amountForm.invalid}">
        {{'APP_LABELS.RECHARGES.AMOUNT.VALUE' | transloco}}{{minAmount.toLocaleString('es-CO')}}{{'APP_LABELS.RECHARGES.AMOUNT.AND' | transloco}}{{maxAmount.toLocaleString('es-CO')}}
      </label>
    </div>

    <div class="buttons-navigation">
      <button type="button" (click)="goToBeforeStep()" class="btn btn-md btn-dark"> <</button>
      <button type="button" (click)="goToNextStep()" class="btn btn-md btn-dark" [disabled]="!isValid">{{'APP_LABELS.RECHARGES.BUTTONS.CONTINUE' | transloco}}</button>
    </div>
  </div>
  <div class="col-md-2"></div>

</div>
