.button-list {
  &--button {
    margin: 1px;
  }
}

.order-list {
  margin: 5px 0;
}

input {
  margin: 5px 0;
}

.action-list {
  display: block;
}

.table thead th, td {
  vertical-align: inherit;
}


.table-responsive {
  display: inline-table;

  @media only screen and (max-width: 600px) {
    display: block;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  width: 100%;
  margin-top: 20px;
}

.card-header, .card-body--crud {
  text-align: center;
}

.split-cost {
  &--input {
    padding: 0 12px;
  }

  &--margin-top {
    margin-top: 15px;
  }

  &--button-margin-right {
    margin-right: 10px;
  }

  &--row {
    margin-bottom: 15px;
  }
}

.accordion>.card {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.alert-top {
  vertical-align: top;
}
