<ng-container *ngFor="let person of personList; let i= index">
  <input
    class="form-control"
    type="text"
    placeholder="{{'APP_LABELS.SPLIT_COST.FORM.PERSON' | transloco}} {{(i + 1)}}"
    [(ngModel)]="person.person">
</ng-container>

<div class="split-cost--input">
  <button (click)="goToBeforeStep()" type="button" class="btn btn-primary split-cost--button-margin-right">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.BEFORE' | transloco}}</button>
  <button [disabled]="!validateForm()" (click)="goToNextStep()" type="button" class="btn btn-primary">{{'APP_LABELS.SPLIT_COST.FORM.BUTTONS.NEXT' | transloco}}</button>
</div>
