<div class="recharges-type row">
  <div class="col-md-2"></div>
  <div class="recharges-amount col-md-8">
  <app-stepper
    [totalSteps]="totalSteps"
    [currentStep]="currentStep"
    [nameStep]="nameStep"
  ></app-stepper>

  <div class="type-body">
    <h4>{{'APP_LABELS.RECHARGES.TYPE.TITLE' | transloco}}</h4>

    <div class="list-group amount-body--input">
      <button
        *ngFor="let types of state.typeRecharges"
        type="button"
        class="list-group-item list-group-item-action"
        (click)="selectTypeRecharge(types)"
      >
        {{types.name}}
      </button>
    </div>
  </div>

</div>
