<div class="card">
  <div class="card-header">
    <b>
      {{'APP_LABELS.DASHBOARD.CARDS.TITLE' | transloco}}
    </b>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a *ngIf="showCRUD" (click)="navigateTo(URLS.CRUD)" class="list-group-item list-group-item-action cursor-pointer">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.CRUD.TITLE' | transloco}}</h5>
          <small>{{getDate('APP_LABELS.DASHBOARD.CARDS.CRUD.DATE' | transloco)}}</small>
        </div>
        <p class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.CRUD.TEXT' | transloco}}</p>
        <span
          class="badge badge-danger"><small>{{'APP_LABELS.DASHBOARD.CARDS.CRUD.TECHNOLOGY' | transloco}}</small></span>
      </a>

      <a *ngIf="showSplitCost" (click)="navigateTo(URLS.SPLIT_COST)"
         class="list-group-item list-group-item-action cursor-pointer">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.SPLIT_COST.TITLE' | transloco}}</h5>
          <small>{{getDate('APP_LABELS.DASHBOARD.CARDS.SPLIT_COST.DATE' | transloco)}}</small>
        </div>
        <p class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.SPLIT_COST.TEXT' | transloco}}</p>
        <span
          class="badge badge-danger"><small>{{'APP_LABELS.DASHBOARD.CARDS.SPLIT_COST.TECHNOLOGY' | transloco}}</small></span>
      </a>

      <a (click)="loginValidate(URLS.RECHARGES + '/' + URLS.RECHARGES_FLOW.RECHARGE_TYPE)"
         class="list-group-item list-group-item-action cursor-pointer">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            {{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TITLE' | transloco}}
            <img src="assets/icons/key.svg" width="20" height="20" alt="X">
          </h5>
          <small>{{getDate('APP_LABELS.DASHBOARD.CARDS.RECHARGES.DATE' | transloco)}}</small>
        </div>
        <p class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TEXT' | transloco}}</p>
        <p class="mb-1">
          <b>{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TEXT_USER' | transloco}}</b>{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.USER' | transloco}}
        </p>
        <p class="mb-1">
          <b>{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TEXT_PASSWORD' | transloco}}</b>{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.PASSWORD' | transloco}}
        </p>

        <span
          class="badge badge-danger"><small>{{'APP_LABELS.DASHBOARD.CARDS.RECHARGES.TECHNOLOGY' | transloco}}</small></span>
      </a>

      <a (click)="navigateTo(URLS.FAKE_APPS_FLOW.MAIN + '/' + URLS.FAKE_APPS_FLOW.DASHBOARD)"
         class="list-group-item list-group-item-action cursor-pointer">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.FAKE_APPS.TITLE' | transloco}}</h5>
          <small>{{getDate('APP_LABELS.DASHBOARD.CARDS.FAKE_APPS.DATE' | transloco)}}</small>
        </div>
        <p class="mb-1">{{'APP_LABELS.DASHBOARD.CARDS.FAKE_APPS.TEXT' | transloco}}</p>
        <span
          class="badge badge-danger"><small>{{'APP_LABELS.DASHBOARD.CARDS.FAKE_APPS.TECHNOLOGY' | transloco}}</small></span>
      </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header"><b>Implementaciones</b></div>
  <div class="card-body">
    <div class="list-group">
      <li class="list-group-item">
        <h5>En general</h5>
        <p>
          La página es una aplicación <b>Angular</b>, en la que voy agregando funcionalidades cada vez que tenga tiempo.
          Tiene un comportamiento responsive, los estilos se trabajan con <b>SASS</b>, totalmente modular, a nivel de
          funcionalidades, tambien maneja un login y logout con data en el localstorage, se despliega en
          <b>AWS</b> al realizar la modificación de la rama <b>Master</b>, por último presento las
          siguientes librearías que han sido utilizadas en este proyecto:
        </p>

        <ul>
          <li>
            <b>Transloco:</b> Traducción de textos (90% de la página tiene traducción a inglés).
          </li>
          <li>
            <b>Bootstrap:</b> La mayoría de componentes son implementaciones de bootstrap, algunos modificados para la
            funcionalidad necesaria.
          </li>
          <li>
            <b>ConfigCat:</b> Librería feature flag, que sirve para controlar las funcionalidades que se presentan en la
            página con el fin de que desde el administrador de ConfigCat encienda o apague funcionalidades sin necesidad
            hacer un despliegue.
          </li>
          <li>
            <b>Animate:</b> Librería para realizar animaciones.
          </li>
          <li>
            <b>Moment:</b> Librería para el manejo de fechas.
          </li>
          <li>
            <b>Firebase:</b> Librería para acceso a la base de datos firebase
          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <h5>Realizar pedido</h5>
        <p>
          Aplicación que esta vinculada a una base de datos <b>firebase</b> para realizar las funciones <B>CRUD</B>
        sobre la misma.
        </p>
      </li>

      <li class="list-group-item">
        <h5>Repartir costo</h5>
        <p>
          Es un ejercicio que tiene algunas animaciones, modificaciones de componentes de bootstrap tanto de estructura
          como de estilos, totalmente dinámica, guarda la información de los formularios en caso de regresar al paso
          anterior para modificar.
        </p>
      </li>

      <li class="list-group-item">
        <h5>Recargas</h5>
        <p>
          Se implementa el patrón de diseño <b>Facade</b> donde se maneja un estado inmutable que se modifica a través
          de todo el flujo, durante el flujo se implementa un guard con el fin de controlar el estado para evitar que se
          puedan saltar los pasos y ocasionar errores. Para acceder a este flujo es necesario haber hecho el login ya
          que se implementa otro guard que valida el token.
        </p>
      </li>

      <li class="list-group-item">
        <h5>Aplicaciones</h5>
        <p>
          Son ejercicios de CSS, para Instagram desarrollé la página con <b>CSS Grid Layout</b> con un comportamiento
          responsive totalmente independiente de bootstrap, además de esto cuenta con un loading en caso de llegar al
          final de la página, simulado que no han cargado todas las fotos que tiene el perfil.s
        </p>
      </li>

      <li class="list-group-item">
        <h5>Idiomas</h5>
        <p>
          En el header se encuentra la opción para realizar la traducción de la mayoría de la página.
        </p>
      </li>
    </div>
  </div>
</div>
