<div class="recharges-stepper">
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <label>Paso {{currentStep}} de {{totalSteps}} - {{nameStep | transloco}}</label>
</div>
