<div class="row">
  <div class="col-md-2"></div>
  <div class="recharges-summary col-md-8">
    <app-stepper
      [totalSteps]="totalSteps"
      [currentStep]="currentStep"
      [nameStep]="nameStep"
    ></app-stepper>

    <div class="summary-body">
      <h4>{{'APP_LABELS.RECHARGES.SUMMARY.TITLE' | transloco}}</h4>

      <ul class="list-group" *ngIf="state">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <b>{{'APP_LABELS.RECHARGES.SUMMARY.TITLES.TYPE' | transloco}} </b>
            <br>
            {{state.selectedTypeRecharges.name}}
          </span>
          <span (click)="redirectTo(URLS_FLOW.RECHARGE_TYPE)" class="cursor-pointer">
            <img src="assets/icons/edit.svg" width="25" height="25" alt="X">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <b>{{'APP_LABELS.RECHARGES.SUMMARY.TITLES.AMOUNT' | transloco}} </b>
            <br>
            $ {{state.amount.toLocaleString('es-CO')}}
          </span>
          <span (click)="redirectTo(URLS_FLOW.AMOUNT)" class="cursor-pointer">
            <img src="assets/icons/edit.svg" width="25" height="25" alt="X">
          </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>
            <b>{{'APP_LABELS.RECHARGES.SUMMARY.TITLES.METHOD' | transloco}} </b>
            <br>
            {{state.creditCardNumber}}
          </span>
          <span (click)="redirectTo(URLS_FLOW.METHOD_OF_PAYMENT)" class="cursor-pointer">
            <img src="assets/icons/edit.svg" width="25" height="25" alt="X">
          </span>
        </li>
      </ul>
    </div>

    <div class="button-payment">
      <button type="button" class="btn btn-success" (click)="goToNextStep()">{{'APP_LABELS.RECHARGES.BUTTONS.PAY' | transloco}}o</button>
    </div>

  </div>
  <div class="col-md-2"></div>

</div>

